<nz-row [nzGutter]="[8, 8]">
  <nz-col [nzSpan]="24">
    <ng-container *ngrxLet="Fps$ | async as fps">
      <div nz-flex nzAlign="center" nzJustify="center" [nzGap]="10" nzVertical>
        <span nz-typography nzType="secondary"> FPS: {{ fps }} </span>
        <nz-slider
          [nzDefaultValue]="MaxFps"
          [ngModel]="fps"
          [nzMin]="1"
          [nzMax]="MaxFps"
          [style]="{
            width: '100%'
          }"
          (ngModelChange)="OnChange($event)"
        />
      </div>
    </ng-container>
  </nz-col>

  <nz-col [nzSpan]="8">
    <nz-card>
      <nz-statistic
        nzTitle="Max population reached"
        [nzValue]="(MaxPopulation$ | async)!"
      />
    </nz-card>
  </nz-col>

  <nz-col [nzSpan]="8">
    <nz-card>
      <nz-statistic nzTitle="Population" [nzValue]="(Population$ | async)!" />
    </nz-card>
  </nz-col>

  <nz-col [nzSpan]="8">
    <nz-card>
      <nz-statistic nzTitle="Generation" [nzValue]="(Generations$ | async)!" />
    </nz-card>
  </nz-col>
</nz-row>
