<ng-container *ngrxLet="Running$ | async as running">
  <div nz-flex nzJustify="center" nzAlign="center" [nzGap]="8">
    <button
      nz-button
      nzDanger
      nzShape="round"
      (click)="OnClean()"
      [disabled]="running"
    >
      <nz-icon nzType="clear" nzTheme="outline" />
    </button>

    <button nz-button nzShape="round" (click)="OnStop()">
      <nz-icon nzType="pause" nzTheme="outline" />
    </button>

    <button nz-button nzShape="round" nzType="primary" (click)="OnPlay()">
      <nz-icon nzType="play-circle" nzTheme="outline" />
    </button>

    <button
      nz-button
      nzShape="round"
      nzType="dashed"
      (click)="OnStep()"
      [disabled]="running"
    >
      <nz-icon nzType="step-forward" nzTheme="outline" />
    </button>
  </div>
</ng-container>
